/* modal */
.main-modal {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /* background-color: rgb(209, 144, 165); */
  background-image: url("https://i.pinimg.com/474x/df/dc/99/dfdc99897d501377336215a275e8a0d1.jpg");

  display: none;
}

.inner-modal {
  width: 500px;
  height: 200px;
  background-color: #fff;
  margin: auto;
  text-align: center;
}

.close {
  text-align: end;
}

.inp-edit {
  border-radius: 10px;
  margin-bottom: 10px;
}

.inp-edit2 {
  border-radius: 10px;
}

.inp-edit3 {
  border-radius: 10px;
}

.inp-edit4 {
  border-radius: 10px;
}

.btn-save {
  background-color: #e3b9f7;
  border-radius: 5px;
  margin-top: 20px;
}

.main {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  /* background-image: url("https://i.pinimg.com/474x/e5/54/fe/e554fedbab0cef758c8b7c540437cc85.jpg"); */
}

.main_div {
  color: black;

  padding: auto;
  margin-left: 40px;
  /* background-color: rgb(255, 0, 30); */
}

span {
  color: cadetblue;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}
.name {
  border-radius: 6px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  background-color: rgb(184, 213, 214);
  border-color: chartreuse;
  margin-left: 50%;
}
.email {
  border-radius: 6px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  margin-left: 50%;
  background-color: rgb(184, 213, 214);
  border-color: chartreuse;
}

.imageUrl {
  border-radius: 6px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  margin-left: 50%;
  background-color: rgb(184, 213, 214);
  border-color: chartreuse;
}

.phone {
  border-radius: 6px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  margin-left: 50%;
  background-color: rgb(184, 213, 214);
  border-color: chartreuse;
}

.btn {
  margin-left: 55%;
  background-color: rgb(180, 164, 205);
  border-radius: 20px;
}
.btn:hover {
  background-color: rgb(142, 168, 123);
  transition: 0.3s;
}

body {
  background-color: #330000;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 400'%3E%3Cdefs%3E%3CradialGradient id='a' cx='396' cy='281' r='514' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23D18'/%3E%3Cstop offset='1' stop-color='%23330000'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='400' y1='148' x2='400' y2='333'%3E%3Cstop offset='0' stop-color='%23FA3' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23FA3' stop-opacity='0.5'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='800' height='400'/%3E%3Cg fill-opacity='0.4'%3E%3Ccircle fill='url(%23b)' cx='267.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='532.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='400' cy='30' r='300'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}

span {
  margin-left: 50%;
}

.card {
  background-color: rgb(196, 156, 187);
  border: 2px solid black;
  width: 350px;
  height: 300px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

img {
  width: 80px;
  border-radius: 25%;
  height: 80px;
  border-radius: 100%;
}
li {
  list-style-type: none;
}
